<div class="card mt-2">
    <div class="card-header">
        <h2 class="text-center">Datos del camión</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                Placa: {{truck.plate}} 
            </div>
            <div class="col-3">
                Marca: {{truck.brand}}
            </div>
            <div class="col-3">
                Color: {{truck.colour}}
            </div>
            <div class="col-3">
                Motor: {{truck.motor}} 
            </div>
        </div>
    </div>
</div>
