<div class="card mt-2">
    <div class="card-header">
        <h2 class="text-center">Datos del remitente</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                DNI: {{remitter.dni}} 
            </div>
            <div class="col-3">
                Nombres: {{remitter.firstName}}
            </div>
            <div class="col-3">
                Apellidos: {{remitter.lastName}}
            </div>
            <div class="col-3">
                Celular: {{remitter.phone}} 
            </div>
        </div>
    </div>
</div>
